@page "/participants"
@using GestionEventosAcademicos.Shared.Entities;
@using GestionEventosAcademicos.WEB.Repositories;

@inject IRepository repository

<h3>Participantes</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/participants/create">Nuevo Participante</a>
</div>

<GenericList MyList="Participants">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Participante</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var participant in Participants!)
                {
                    <tr>
                        <td>
                            @participant.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Participant>? Participants { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Participant>>("/api/participants");

        Participants = responseHppt.Response!;
    }
}
